/* PollComponent.css */

.active {
    overflow: hidden;
    transition: max-height 0.5s ease;
    /* Adjust the animation speed as needed */
    max-height: 1000px;
    /* Set a sufficiently large value to accommodate the content */
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}